<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/e35a902f27.js" crossorigin="anonymous"></script>
    <title>Musicave - Now Playing</title>
    {{> style}}
</head>

<body>
    <div id="wrapper">
        {{> header}}

        {{!-- Left : Sidebar --}}
        <div class="split left">
            <div class="nav">
                <nav class="sidebar" style="margin-top: 60%;">

                    {{!-- Home --}}
                    <a href="/" title="Home">
                        <i class="fa fa-home"></i>
                    </a>

                    {{!-- Trending --}}
                    <a href="/trending" title="Trending">
                        <i class="fa-solid fa-arrow-trend-up"></i>
                    </a>

                    {{!-- Recommend random songs --}}
                    <a href="/random" title="Shuffle">
                        <i class="fa-solid fa-shuffle"></i>
                    </a>

                </nav>
            </div>
        </div>

        {{!-- Right : Results --}}
        <div class="split right">
            <div class="contain">
                <div class="track" style="top:75%;">
                    <div>
                        <center>
                            <h1
                                style="font-size:xx-large; text-align: center; color:aliceblue; font-weight: bold; margin-top:10px;">
                                Related result Tracks</h1>
                        </center>

                        {{#if display}}
                        {{!-- The song has started Playing and some more tracks are recommended here --}}
                        {{#each recommendedTracks}}
                        <form action="/play" method="POST">
                            <div class="trackrow">
                                <div class="float-child float-child-1">
                                    <img src="{{this.image.0.link}}" alt="trackimg" class="trackimg">
                                </div>
                                <div class="float-child float-child-2">
                                    {{!-- try converting name to title --}}
                                    <h5 class="album-name pt-4 pb-2" id="songNameOne" value="{{this.name}}">
                                        {{this.name}} <span style="font-size:80%; margin-left: 15px;">(Album:
                                            {{this.album.name}})</span>
                                    </h5>
                                </div>

                                {{!-- Play the recommended track --}}
                                <div class="float-child float-child-3">
                                    <button type="submit" class="play-button"></button>
                                    <input type="text" name="songUrl" value="{{this.downloadUrl.2.link}}" hidden>
                                    <input type="text" name="songName" value="{{this.name}}" hidden>
                                    <input type="text" name="albumName" value="{{this.artist}}" hidden>
                                    <input type="text" name="duration" value="{{this.duration}}" hidden>
                                </div>
                            </div>
                        </form>
                        {{/each}}
                        {{else}}
                        <div class="trackrow">
                            <h2>No Preview available for the tracks</h2>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- The value of this input is used for calculating total duration listened --}}
    <input type="hidden" id="totalDurationListened" value="{{this.durationListened}}">

    {{> player}}
    <script>
        var player = document.getElementById('player');
        player.src = "{{ songUrl }}";
        player.load();
        player.play();


        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('#myimg')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        // If the user is listening songs for more than 10 minutes, then alert the user for his/her digital wellbeing
        window.onload = () => {
            const totalDurationListened = parseInt(document.getElementById('totalDurationListened').value);
            if (totalDurationListened > 600) {
                alert("You have been listening for 10 minutes. Consider taking a break for your digital wellbeing");
            }
        }
    </script>
</body>

</html>